.footer{
    color: white;
    background-color: #282c34;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerimg{
     margin-top: 40px;
}
.preshoplogofooter{
    width: 110px;
}
.footercontent{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
}
.contentFootertitle{
    font-weight: 600;
}
.contentFooterSubTitlediv{
    margin-top: 10px;
    font-size: 14px;
}
.contentFooterSubTitlecont{
    margin-bottom: 10px;
}